@import url('../../fonts/fonts.css');

*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: "Roboto";
     text-decoration: none;
}

:root {
     --bg-col-of-section:#EAF0F9;
     --font-col-blue:#3077C6;
     --font-col-dark-gray:#383838;
     --font-size-H2:40px;
}

.HomesGuestloves{
     height: 828px;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: var(--bg-col-of-section);
}

h2{
   margin-top: 120px;
   text-align: center;
   color: var(--font-col-dark-gray);
   font-size: var(--font-size-H2);
   font-weight: 500;
}

.slider{
     width: '85.8vw';
     margin-top: 106px;
     height: 403px;
     display: flex;
     justify-content: flex-start;
     overflow: hidden; 
}

.slider>img{
      width: 40px;
      height: 40px;
      position: absolute;
      z-index: 2;
      margin-top: 128px;
      margin-left: 84.47vw;
}


.slidesOfSlider{
     display: flex;
     width: 85vw;
     position: relative;
     left:0;
     transition: all ease 1s;
     left:0px;
     width:85vw;
}

.slide{
     width: 296px;
     margin-left: 16px;
}

.slide>img{
     width: 296px;
}

@media (max-width: 728px) {
     .slider>img{
          width: 
          height: 40px;
          position: absolute;
          z-index: 2;
          margin-top: 128px;
          margin-left: 83vw;
    }
    
}
