@import url('../../../assets/fonts/fonts.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  text-decoration: none;
}

:root {
  --bg-col-of-section: #eaf0f9;
  --font-col-blue: #3077c6;
  --font-col-dark-gray: #383838;
  --font-col-light-gray: #bfbfbf;
  --font-size-H2: 40px;
  --radius: 8px;
}

.filterBody {
  position: absolute;
  z-index: 2;
  margin-top: 630px;
  margin-left: 43vw;
  width: 259px;
  padding-top:20px;
  padding-bottom: 20px;
  background-color: #ffff;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
}

.wrapperOfFilter{
     height: 118px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.wrapperOfFilter > div {
  width: 215px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.wrapperOfFilter > div > div {
  width: 108px;
  display: flex;
  justify-content: space-between;
}

.wrapperOfFilter > div > div > button {
  width: 30px;
  box-shadow: none;
  border: none;
  border: 1px solid var(--font-col-blue);
  font-size: 18px;
  color: var(--font-col-blue);
}

.wrapperOfFilter > div > div > p{
     display: flex;
     align-items: center;
}

.selectsOfChildren {
    margin-top: 28px;
    width: 215px;
    flex-direction: column;
    align-items: flex-start; 
}

.selectsOfChildren>div {
     display: flex;
     flex-direction: column;
}

#selectBox>select {
     margin-top: 12px;
     width: 99px;
     height: 30px;
     border: 1px solid var(--font-col-blue);
     color:var(--font-col-blue);
}

#flex{
     display:flex;
}

#none{
     display: none;
}